body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #333;
}

.container {
  padding: 20px;
}

.logo {
  width: 50vw;        /* 50% der Fensterbreite */
  max-width: 400px;   /* Maximalbreite */
  margin-bottom: 30px;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #004466;
}

p {
  font-size: 1.2rem;
  color: #555;
}
